<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PcLabs</title>
        <link href="/css/index.css" rel="stylesheet" type="text/css"/>
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	 <script src="index.js" defer></script>
	</head>

	{% block body %}

		<img class="main-bg" src="images/PCLabs-Bg.png" alt="">
		<main class="main-container">
			<header class="main-header">
				<img src="images/PCLabs-Logo.png" alt="">
				<a href="configure/accueil/configure.html" class="header-title-bg">Configurateur</a>
				<h2 class="header-title">Contact</h2>
				<a href="connect/connect.html" class="header-title">Compte</a>
				<h2 class="header-title">Forum</h2>
			</header>

			<div class="container">
				<div class="left">
					<h1 class="main-title">PCLabs</h1>
					<p>Votre site technologie et innovations</p>
					<button class="access" type="button">
						<a href="Accueil/accueil.html">Accéder au site</a>
						<i class="fa-solid fa-arrow-right"></i>
					</button>
				</div>
				<div class="right">
					<img src="images/PCLabs-Home.png" alt="">
				</div>
			</div>

			<footer class="main-footer">
				<div class="rights">
					<p>Copyright 2024 - www.PCLabs.fr</p>
					<p>Tout droits réservés</p>
				</div>
				<i class="fa-brands fa-facebook"></i>
				<i class="fa-brands fa-facebook-messenger"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</footer>
		</main>

	</html>
{% endblock %}
