<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PcLabs</title>
        <link href="/css/index.css" rel="stylesheet" type="text/css"/>
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	 <script src="index.js" defer></script>
	</head>

	{% block body %}

		<img class="main-bg"  src={{asset('assets//images/PCLabs-Bg.png')}}>
		<main class="main-container">
			<header class="main-header">
				<img src={{asset('assets//images/PCLabs-Logo.png')}}>
				<a href="configure/accueil/configure.html" class="header-title-bg">Configurateur</a>
				<h2 class="header-title">Contact</h2>
				<a href="connect/connect.html" class="header-title">Compte</a>
				<h2 class="header-title">Forum</h2>
			</header>

			<div class="container">
				<div class="left">
					<h1 class="main-title">PCLabs</h1>
					<p>Votre site technologie et innovations</p>
					<button class="access" type="button">
						<a href="Accueil/accueil.html">Accéder au site</a>
						<i class="fa-solid fa-arrow-right"></i>
					</button>
				</div>
				<div class="right">
					<img src={{asset('assets//images/PCLabs-Home.png')}}>
				</div>
			</div>

			<footer class="main-footer">
				<div class="rights">
					<p>Copyright 2024 - www.PCLabs.fr</p>
					<p>Tout droits réservés</p>
				</div>
				<i class="fa-brands fa-facebook"></i>
				<i class="fa-brands fa-facebook-messenger"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</footer>
		</main>

	</html>
{% endblock %}

{% block stylesheet %}

@font-face {
    font-family: Atma;
    src: url(../../assets/styles/fonts/Atma-Regular.ttf);
}

@font-face {
    font-family: TradeWinds;
    src: url(../../assets/styles/fonts/TradeWinds-Regular.ttf);
}

* {
    font-family: Atma;
    cursor: url("../cursor/duotone-cursor.png"), auto;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100dvw;
}

.main-bg {
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    filter: brightness(75%);
    animation: 20s ease-in-out linear infinite;
    animation-name: bg;
}

@keyframes bg {
    0%, 100% {
        scale: 1;
    }

    50% {
        scale: 1.4;
    }
}

.main-container {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-title-bg {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    background-color: white;
    padding: 10px 15px;
    border-radius: 35px;
    border: 2px solid rgb(136, 192, 211);
    cursor: pointer;
}

.header-title-bg:hover {
    background-color: grey;
    color: black;
}

.header-title {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
}

.header-title:hover {
    border-bottom: 3px solid rgb(136, 192, 211);
    cursor: pointer;
}

.main-header img {
    width: 10%;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    transform: translateY(20%);
}

.left {
    text-align: center;
    width: 100%;
    display: grid;
}

.main-title {
    font-family: TradeWinds;
    font-size: 5em;
    font-weight: 300;
    border-bottom: 5px solid rgb(136, 192, 211);
    width: 5em;
    margin: auto;
}

.access {
    width: fit-content;
    margin: auto;
    padding: 8px 12px;
    border: 2px solid rgb(136, 192, 211);
    border-radius: 35px;
    cursor: pointer;
}

.access a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.access:hover {
    background-color: grey;
    color: white;
}

.access i {
    padding-left: 10px;
}

.right {
    width: 100%;
    scale: 1.2;
}

.main-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    padding: 30px;
    width: 100%;
}

.main-footer p {
    margin: auto 30px auto 30px;
}

.main-footer i {
    font-size: 1.4em;
}

{% endblock %}
