@font-face {
    font-family: ComicNeue;
    src: url('../fonts/ComicNeue-Regular.ttf');
}

@font-face {
    font-family: TradeWinds;
    src: url('../fonts/TradeWinds-Regular.ttf');
}

* {
    font-family: ComicNeue;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;

    cursor: url("../cursor/duotone-cursor.png"), auto;
}

.main-bg {
    position: fixed;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    filter: brightness(75%);
    animation: linear;
    animation-timeline: scroll();
    animation-name: bg;
}

@keyframes bg {

    from {
        scale: 1;
    }

    35% {
        transform: perspective(500px) translateZ(450px) translateY(50px);
    }

    to {
        transform: perspective(500px) translateZ(450px) translateY(50px);
    }
}

.main-container {
    position: absolute;
    width: 100%;
    margin: auto;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px;
}

.link {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
}

.link:hover {
    border-bottom: 4px solid rgb(136, 192, 211);
}

.bg-link {
    background-color: rgb(224, 223, 223);
    color: black;
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 35px;
    border: 2px solid rgb(136, 192, 211);
    cursor: pointer;
    text-decoration: none;
}

.bg-link:hover {
    background-color: grey;
    color: white;
}

.pclabs h1 {
    color: black;
    font-family: TradeWinds;
    font-size: 3em;
}

.pclabs-container {
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.pclabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 40%;
    height: 70vh;
}

.pclabs-text {
    font-size: 1.1em;
}

.immersive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 40%;
    height: 70vh;
    animation: immersive 300ms linear;
    animation-timeline: view();
}

@keyframes immersive {
    0%, 30% {
        scale: 0.7;
        opacity: 0;
    }

    40%, 60% {
        scale: 1.1;
        opacity: 1;
    }

    80% {
        opacity: 0;
        scale: 0.7;
    }

    80%, 100% {
        scale: 0;
    }
}

.immersive h2 {
    font-size: 2.5em;
    color: black;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.2em;
}

.arrow-icons {
    height: 120vh;
    color: black;
    animation: arrow 300ms linear;
    animation-timeline: view();
}

.arrow-icons p {
    font-size: 1.5em;
    color: black;
}

@keyframes arrow {
    0%, 20% {
        opacity: 0;
    }

    30%, 50% {
        scale: 1.55;
        opacity: 1;
    }

    60% {
        scale: 1;
        opacity: 0.7;
        transform: translateY(600px);
    }

    60%, 85% {
        scale: 0.7;
        opacity: 0;
        transform: translateY(650px);
    }

    85%, 100% {
        scale: 0;
        transform: translateY(400px);
    }
}

.container {
    display: grid;
    justify-items: center;
    animation: dimension linear;
    animation-timeline: scroll(y);
    animation-name: dimension;
}

.news-container {
    width: 55%;
    margin: 30px auto 50px auto;
    display: grid;
    justify-items: center;
    gap: 100px 150px;
    grid-template-columns: repeat(2, 1fr);
}

.news {
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 30px white;
    border-radius: 15px;
    animation: appear 300ms linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

@keyframes appear{
    from{
       opacity: 0.2;
       scale: 0.55;
       transform: translateX(160px);
    }

    to {
        opacity: 1;
        scale: 1;
    } 
}

.news-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    aspect-ratio: 16/10;
    object-fit: cover;
    width: 100%;
    background-size: cover;
}

.description {
    text-align: center;
    padding: 25px;
}

.description p {
    padding: 25px;
}