@font-face {
    font-family: Atma;
    src: url(fonts/Atma-Regular.ttf);
}

@font-face {
    font-family: TradeWinds;
    src: url(fonts/TradeWinds-Regular.ttf);
}

* {
    font-family: Atma;
    cursor: url("../cursor/duotone-cursor.png"), auto;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100dvw;
}

.main-bg {
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    filter: brightness(75%);
    animation: 20s ease-in-out linear infinite;
    animation-name: bg;
}

@keyframes bg {
    0%, 100% {
        scale: 1;
    }

    50% {
        scale: 1.4;
    }
}

.main-container {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-title-bg {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    background-color: white;
    padding: 10px 15px;
    border-radius: 35px;
    border: 2px solid rgb(136, 192, 211);
    cursor: pointer;
}

.header-title-bg:hover {
    background-color: grey;
    color: black;
}

.header-title {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
}

.header-title:hover {
    border-bottom: 3px solid rgb(136, 192, 211);
    cursor: pointer;
}

.main-header img {
    width: 10%;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    transform: translateY(20%);
}

.left {
    text-align: center;
    width: 100%;
    display: grid;
}

.main-title {
    font-family: TradeWinds;
    font-size: 5em;
    font-weight: 300;
    border-bottom: 5px solid rgb(136, 192, 211);
    width: 5em;
    margin: auto;
}

.access {
    width: fit-content;
    margin: auto;
    padding: 8px 12px;
    border: 2px solid rgb(136, 192, 211);
    border-radius: 35px;
    cursor: pointer;
}

.access a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.access:hover {
    background-color: grey;
    color: white;
}

.access i {
    padding-left: 10px;
}

.right {
    width: 100%;
    scale: 1.2;
}

.main-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    padding: 30px;
    width: 100%;
}

.main-footer p {
    margin: auto 30px auto 30px;
}

.main-footer i {
    font-size: 1.4em;
}